html{
    font-size: calc(1em + 1vw); /* Denne formelen gjør teksten vår responsiv. em betyr ta utgangspunkt i pixelverdi på font-size. 1em er 16px på de fleste nettsteder. 1vw forteller at det skal være en del av visningsbredden, altså nettleservinduet. Dersom vinduet blir mindre kalkulerer den utifra det.*/
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

#grid-container{
    display: grid;
    grid-template-areas: "header" "main" "footer"
}

#logo{
    text-align: center;
    text-decoration: none;
}

#nav-ikoner li{

}

header{
    text-align: center;
    background-size: cover;
    padding-bottom: 20px;
}

body header nav{
    display:flex;
    background-color: rgb(184, 184, 184);
}


body header nav ul{
    text-decoration: none;
    list-style: none;
    display: inline-block;
}

body header nav ul li{
    text-decoration: none;
    list-style: none;
    display: inline-block;
}


#kategorier li{
    display: inline-block;
    justify-items: baseline;
}


#broedsmuler{
    font-size: small;
    list-style: none;
    text-align: left;
}

#broedsmuler li{
    display: inline-block;
}

.underoverskrift{
    text-align: center;
    background-color:rgb(184, 184, 184);
}

#nyheter-img{
}

.produktbilde{
    border-radius: 10%;
}

body footer{
    grid-area: footer;
}