* {
    box-sizing: border-box;
}

html{
    font-size: calc(1em + 1vw); /* Denne formelen gjør teksten vår responsiv. em betyr ta utgangspunkt i pixelverdi på font-size. 1em er 16px på de fleste nettsteder. 1vw forteller at det skal være en del av visningsbredden, altså nettleservinduet. Dersom vinduet blir mindre kalkulerer den utifra det.*/
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

#grid-container{
    display: grid;
    grid-template-areas: "header" "main" "footer";
    justify-content: center;
    width: 100%;
    grid-auto-columns: 100vw;
    grid-auto-flow: column;
}

                                                                                  /* HEADER */
                                                           /* NAV */
body header{
    width: 100%;
    grid-area: header;
}

body header nav{
    display: grid;
    background-color: rgb(196, 194, 194);
}

#logo{
    justify-self: center;
    font-size: xx-large;
    text-decoration: none;
}

#kategorier ul{
    display: inline-flex;
    width: 100%;
    padding: 0;
    justify-content: center;
    list-style: none;

}

#kategorier ul li{
    margin: 0.1rem;
    border: black;
    border-style: solid;
}

#nav-ikoner-1, #nav-ikoner-2{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    font-size: x-large;
}

#sokefelt {
    width: 15rem;
}



#mine-ordre{
    display: flex;
    justify-content: center;
    text-decoration: underline;

}

#handlekurv-btn{
    display: flex;
    justify-content: right;
    margin: 1rem;
}

#size-btn{
    display: flex;
    justify-content: right;
    margin: 1rem;
}

.broedsmuler{
    display: none;
}



                                          /*  /NAV    */

body header h1, body header p{
    display: flex;
    justify-content: center;
}

.border-decor-r{
    display: none;
}

.border-decor-l{
    display: none;
}

                                           /* MAIN */

body main{
    grid-area: main;
}

.underoverskrift{
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: rgb(196, 194, 194);
}

body main section{
    display: inline-block;
    width: 100%;
}

body main section article{
    display: flex;
    justify-content: space-evenly;
    width: 100%;

}


#nyheter-img{
   display: flex;
   margin: 0;
}

#produktnavn{
    padding: 1rem;
}

#produktside-img{
    padding: 1rem;
}

#produktside-btns{
    display: inline-block;
    list-style: none;
    width: 100%;
    padding: 1rem;
}

#pris{
    padding: 0 1rem;
    border: black;
    border-style: solid;
    width: 5rem;
}

#size-btn{
    text-align: right;
}

#legg-i-handlekurv-btn{
    text-align: right;
}

.produktbilde{
    display: flex;
    justify-content: space-evenly;
    margin: 5px 5px;
    max-width: 100%;
    text-align: center;
}

.produktbilde-desktop{
    display: none;
}

.les-mer-knapp{
    display: flex;
    justify-content: right;
}

.ordre-produkt{
    display: inline-block;
    width: 100%;
    padding: 1rem;
    border: black;
    border-style: solid;
}

#spor-pakke-btn{
    display: inline-block;
    width: 100%;
    text-align: right;
    padding: 1rem;
}

#ordredetaljer-btn{
    display: inline-block;
    width: 100%;
    text-align: right;
    padding: 1rem;
}

#produktbeskrivelse{
    padding: 1rem;
}

#kundeomtale-overskrift{
    text-align: center;
}

#kundeomtaler{
    display: flex;
    justify-content: space-evenly;
    padding: 1rem;
}

.kundeomtale-navn{
    font-size: xx-large;
}

#kundeomtale-row-1{
    border: black;
    border-style: solid;
}

#kundeomtale-row-2{
    border: black;
    border-style: solid;
}

#se-alle-omtaler-btn{
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 1rem;
}


#email-reg{
    display: inline-block;
    margin: auto;
    width: 100%;
    text-align: center;
    background-color: rgb(196, 194, 194);
}

#email-reg-box{
    margin: 1rem;
}
#email-reg form{
    margin: auto 0;
}

#kategori-bottom{
    display: none;
}

#kategori-row-1, #kategori-row-2, #kategori-row-3{
    list-style: none;
}

#hva-ser-du-etter{
    display: none;
}


                                    /* FOOTER */
body footer{
    grid-area: footer;
}

footer nav{
    display: flex;
    justify-content: space-evenly;
    background-color: #000;
}

footer nav li{
    text-decoration: none;
    list-style: none;
    font-size: medium;
    padding: 0.2rem;
    color: #ffff;
}

footer nav section ul{
    padding: 0;
}

#snarveier h3, #informasjon h3, #support h3{
    text-decoration: underline;
    color: #ffff;
}

#sosiale-medier{
    width: 100%;
    display: inline-block;
    color: #fff;
    background-color: #000;
}

#sosiale-medier ul{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    font-size: xx-large;
}
#sosiale-medier ul li{
    display: flex;
}


                 /* Media Queries */
@media only screen and (min-width: 600px) {

    body{
        display: grid;
        max-width: 1260px;
    }

    #logo{
        padding: 1rem;
    }

    #grid-container{
        display: grid;
        grid-template-columns: 10% auto 10%;
        grid-auto-rows: minmax(100px, auto);
        grid-template-areas: "header-left header-center header-right" "main-left main-center main-right" "footer-left footer-center footer-right";
        background-color: grey;
    }

    body header{
        display: grid;
        grid-area: header-center;
        background-color: white;
    }

    #sokefelt {
        width: 20rem;
        height: 1.2rem;
    }

    .broedsmuler{
        display: flex;
        justify-content: left;
    }
    .broedsmuler li{
        list-style: none;
        font-size: medium;
        padding: 10px;
    }

    #nav-ikoner-2{
        display: flex;
        justify-content: space-between;
        padding: 0, 2rem;
        font-size: xx-large;
    }

    #nav-ikoner-1{
        display: flex;
        justify-content: right;
        padding: 0;
        margin: 0;
        font-size: xx-large;
    }

    #sok{
        margin: 0.5rem;
    }

    #nav-ikoner-1 i{
        padding: 1rem;
    }

    #handlevogn, #logg-inn{
        display: inline-block;
        text-align: right;
    }

    body main{
        grid-area: main-center;
        background-color: white;
    }

    .produktbilde{
        max-width: 50%;
    }

    .produktbilde-desktop{
        display: flex;
        justify-content: space-evenly;
        margin: 5px 5px;
        max-width: 50%;
        text-align: center;
    }

    #kategori-bottom{
        display: flex;
        grid-area: main-center;
        justify-content: center;
    }

    #hva-ser-du-etter{
        display: grid;
        grid-area: main-center;
        text-align: center;
    }

    body footer{
        grid-area: footer-center;
    }

 
    
}