html{
    font-size: calc(1em + 1vw); /* Denne formelen gjør teksten vår responsiv. em betyr ta utgangspunkt i pixelverdi på font-size. 1em er 16px på de fleste nettsteder. 1vw forteller at det skal være en del av visningsbredden, altså nettleservinduet. Dersom vinduet blir mindre kalkulerer den utifra det.*/
}

body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}

#grid-container{
    display: grid;
    grid-template-areas: "header" "main" "footer"
}

                                                                                  /* HEADER */
                                                           /* NAV */

body header nav{
    display: grid;
    background-color: rgb(196, 194, 194);
}

#logo{
    justify-self: center;
    font-size: xx-large;
    text-decoration: none;
}

#kategorier ul{
    display: inline-flex;
    width: 100%;
    padding: 0;
    justify-content: center;
    list-style: none;

}

#kategorier ul li{
    padding: 0.3rem;
    margin: 0.3rem;
}

#nav-ikoner-1, #nav-ikoner-2{
    display: flex;
    justify-content: space-between;
    padding: 0.5rem;
    font-size: x-large;
}

#sokefelt {
    width: 15rem;
}

.broedsmuler li{
    width: 100%;
    float: left;
    list-style: none;
    font-size: medium;
    padding: 10px;
}



                                          /*  /NAV    */

body header h1, body header p{
    display: flex;
    justify-content: center;
}

                                           /* MAIN */
.underoverskrift{
    display: flex;
    justify-content: center;
    background-color: rgb(196, 194, 194);
}

body main section article{
    display: flex;

}

body main section article img{
    flex: 33.33%;
    padding: 5px;
}

#nyheter-img{
   display: inline-block;
   margin: 0 auto;
}



.produktbilde{
    display: inline-block;
    margin: 0 auto;
}

.les-mer-knapp{
    display: flex;
    justify-content: right;
}

#email-reg, #email-reg-box{
    margin: 1rem;
}
#email-reg form{
    margin: auto 0;
}


                                    /* FOOTER */
footer nav{
    display: flex;
    justify-content: space-evenly;
    background-color: #000;
}

footer nav li{
    text-decoration: none;
    list-style: none;
    font-size: medium;
    padding: 0.2rem;
    color: #ffff;
}

footer nav section ul{
    padding: 0;
}

#snarveier h3, #informasjon h3, #support h3{
    text-decoration: underline;
    color: #ffff;
}

#sosiale-medier{
    width: 100%;
    display: inline-block;
    color: #fff;
    background-color: #000;
}

#sosiale-medier ul{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 0;
    font-size: xx-large;
}
#sosiale-medier ul li{
    display: flex;
}